button {
    cursor: pointer;
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 10vw;
    height: 6vh;
    color: black;
    border: none;
    transition: all .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
  }
  
  button::before {
    content: "";
    background-color: #DE0CC8;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 700ms ease-in-out;
    display: inline-block;
  }
  
  button:hover::before {
    width: 100%;
  }

  @media screen and (max-width:900px) {
    button{
        width: 35vw;
        height: 6vh;
    }
}