@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');

*{
    font-family: 'Oswald', sans-serif;
    outline: none;
    text-decoration: none;
    list-style-type: none;
}

main{
    width: 100vw;
}
.flag{
    display: flex;
    opacity: 1;
    width: 25px;
    height: auto;
}
.apresentacao{
    width: 100vw;
    border-bottom: gray solid;
    background-color: #DE0CC8;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: auto;
}
.apresentacao h1{
    padding-top: 15vh;
    padding-bottom: 5vh;
    margin-bottom: 2vh;
    margin-top: 2vh;
    font-size: 4rem;
    color: white;
}
.apresentacao p{
    margin: auto;
    padding-top: 10vh;
    padding-bottom: 10vh;
    width: 80vw;
    font-size: 1.5rem;
    color: black;
}
.fotosComAEquipe{
    width: 100vw;
    background-color: black;
    border-bottom: gray solid;
}
.fotosComAEquipe img{
    opacity: 0.5;
    height: 60vh;
    object-fit: cover;
    object-position: center;
}
.texto h2{
    display: flex;
    color: white;
    position: absolute;
    font-size: 2rem;
    z-index: 1;
    top: 10vh;
    width: 100vw;
    justify-content: center;
} 
.texto a{
    display: flex;
    color: white;
    position: absolute;
    z-index: 1;
    top: 30vh;
    width: 100vw;
    justify-content: center;
}
.button-name{
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,rgba(45, 35, 66, 0.15) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #DE0CC8;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}
.button-name:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}
.button-name:hover {
    box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}
.button-name:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}
.nossaOrigem{
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-size: 2rem;
    width: 100vw;
    text-align: center;
}
.nossaOrigem p{
    font-size: 1.2rem;
    margin-top: 2vh;
}
.areasDeAtuacao{
    border-top: gray solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
    
}
.areasDeAtuacao h2{
    margin-top: 5vh;
}
.areasDeAtuacao .container{
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.color{
    background-color: black;
}
img{
    opacity: 0.5;
    height: 70vh;
    object-fit: cover;
    object-position: center;
}
.apresentandoCompetidores{
    width: 100vw;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.apresentandoCompetidores h2{
    font-size: 3rem;
    color: #DE0CC8;
}
.apresentandoCompetidores span{
    font-size: 1.5rem;
    margin-bottom: 2vh;
}
.apresentandoCompetidores p{
    margin-bottom: 2vh;
}
.integrantes{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: auto;
    justify-content: center;
}
.bts{
    margin-bottom: 5vh;
}

#eletrica{
    /* display: inline; */
    display: none;
}
#mecanica{
    display: none;
}
#programacao{
    display: none;
}
#social{
    display: none;
}
#mentores{
    display: none;
}

.acoes{
    margin-bottom: 10vh;
}


@media (max-width: 900px) {
.apresentacao h1{
    margin-bottom: 2vh;
    font-size: 2.5rem;
}
.apresentacao{
    padding-top: 4vh;
    height: auto;
}
.areasDeAtuacao h2{
    margin-top: 0;
}
.areasDeAtuacao .container{
    display: flex;
    flex-direction: column;
}
.areasDeAtuacao h2{
    margin-top: 10vh;
}

.nossaOrigem p{
    font-size: 1.2rem;
    width: 85vw;
    margin: auto;
}
.contatos{
    margin: auto;
    width: 80vw;
}
.tiposDeContatos{
    display: flex;
    justify-content: center;
    text-align: center;

}
.type{
    font-size: 0.7rem;
}
.type h3{
    font-size: 1rem;
}
.faleConosco li{
    cursor: pointer;
    transition: transform 1s;
    margin: 2vw;
    padding: 2vw;
    border-radius: 80px;
}
.faleConosco ul li i{
    font-size: var(--icon-size,6vw);

}
}

